.number-footer {
  position: absolute;
  width: 100%;
  bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 72px;
  pointer-events: none;
  animation: entranceAnimation ease-in-out 0.75s forwards;
  z-index: 100;
}

.number-item {
  position: relative;
  width: 268px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  pointer-events: auto;

  .title {
    height: 35px;
    width: 100%;
    background: url('../assets/images/titleBg.png') no-repeat center center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .data {
    height: 82px;
    width: 100%;
    display: flex;
    gap: 28px;
    justify-content: center;

    .data-img {
      width: 82px;
      height: 82px;
    }

    .data-info {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }

    .number {
      display: flex;
      align-items: end;
      gap: 10px;

      .number-value {
        font-size: 32px;
        font-family: 'UniDreamLED', monospace;
        color: #fff;
        text-shadow: 0px 0px 13px rgb(154, 110, 44);
      }

      .number-unit {
        font-size: 14px;
        color: #fff;
      }
    }

    .compare {
      display: flex;
      align-items: center;
      gap: 10px;

      .compare-label {
        font-size: 14px;
        color: #c9d3ea;
        margin-right: 14px;
      }

      .compare-img {
        width: 20px;
        height: 12px;
      }
    }
  }
}

@keyframes entranceAnimation {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 24px;
  }
}

