.map {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .map-content {
    position: relative;
    width: 1920px;
    height: 1080px;
  }
}

