.left-panel {
  position: absolute;
  width: 500px;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  gap: 24px;
  padding: 111px 0 34px 16px;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  animation: entranceAnimationLeft ease-in-out 0.75s forwards;
}

@keyframes entranceAnimationLeft {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

